$purple: #74569B;
$green: #96FBC7;
$yellow: #F7FFAE;
$pink: #FFB3CB;
$lilac: #D8BFD8;
$white: #fffef7;

$header-font: 'Ephesis', cursive, 'Noto Sans JP', sans-serif;
$body-font: 'VT323', monospace, 'Noto Sans JP', sans-serif;