@import '../Vars';

.results {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    $color: $purple;
    border-radius: 1em;


    color: $purple;
    width: 100%;
}

.success {
    border: 5px solid $green;
}

.fail {
    border: 5px solid $yellow;
}

.title {
    text-align: center;
}

.graph {
    height: 12em;
    flex: 1 0 auto;
}