@import '_Vars.scss';


h1 {
    font-family: $header-font;
    font-size: 3em;
    margin: 0.3em;
}

h2 {
    font-family: $header-font;
}
h3 {
    font-family: $header-font;
}
h4 {
    font-family: $header-font;
}
h5 {
    font-family: $header-font;
}
h6 {
    font-family: $header-font;
}